
body {
 -webkit-user-drag: none;
	user-drag: none;
  -webkit-user-select: none;  /* Disable selection for WebKit browsers */
 -moz-user-select: none;     /* Disable selection for Mozilla browsers */
  -ms-user-select: none;      /* Disable selection for IE/Edge browsers */
 user-select: none;           /* Standard syntax */
}

.gallery-container {
	 -webkit-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.gallery-container img {
  -webkit-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

#prev-button, #next-button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

